<VirtualHost *:{{ http_port | default(80) }}>
    DocumentRoot {{ wp_path }}
    <Directory {{ wp_path }}>
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory {{ wp_path }}/wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>
